@import "tailwindcss";


@theme {

    --color-sage: #667B68;
    --color-terra-cota: #B05C3C;
    --color-deep-forest: #3B4443;
    --color-oat: #F0E9E1;

}


.lora {
    font-family: "Lora", serif;
}

body {
    @apply text-deep-forest;
}

.button-next,.button-prev{
    @apply cursor-pointer;
}
.button-next svg,.button-prev svg{
    @apply fill-sage;
}
.button-next.swiper-button-disabled svg,.button-prev.swiper-button-disabled svg{
    @apply opacity-50;
}

.button-next.swiper-button-disabled,.button-prev.swiper-button-disabled{
    @apply cursor-auto;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply bg-terra-cota;
}

.swiper-pagination-bullet{
    @apply !w-8 h-1 !rounded-sm bg-oat;
}
[x-cloak] {
    display: none;
}

.single_add_to_cart_button {
    @apply !bg-transparent  !rounded-full !uppercase !font-medium !border !border-deep-forest !text-deep-forest hover:!bg-deep-forest hover:!text-white;    
}

.buy-now-button{
    @apply !bg-terra-cota !rounded-full !uppercase !font-medium !border !border-terra-cota !text-white;    

}

form.variations_form table.variations select{
    @apply !bg-white !max-w-xs !text-deep-forest;
}

/* .input-text.qty{
    @apply !border-none !flex !items-center !justify-center;
}
.quantity .ct-decrease,.quantity .ct-increase{
    @apply !bg-white !border !border-[#D9E2DA] !rounded-full !text-deep-forest !size-8 !flex !items-center !justify-center;
} */
body.product-template-default{
    @apply !bg-[#F4F5F4];
}

.button.add_to_cart_button{
    @apply !uppercase !text-sm cursor-pointer !bg-white !text-sage text-center !rounded-full !px-6 !py-2 !shadow !w-full max-w-2/3;
}
/* .added_to_cart.wc-forward{
    @apply hidden;
} */

.ct-checkbox{
    @apply !border-[#3B4443] !rounded-sm;
}

.single-product .woocommerce-Price-amount.amount{
    @apply !text-terra-cota !font-semibold;
}

.single-product .sale-price del .woocommerce-Price-amount.amount{
    @apply !text-sage;
}

.added_to_cart.wc-forward{
    @apply !hidden;
}