@import "tailwindcss";

@theme {

    --color-sage: #667B68;
    --color-terra-cota: #B05C3C;
    --color-deep-forest: #3B4443;
    --color-oat: #F0E9E1;
    

}

*{
    --swiper-scrollbar-size: 2px;
    --swiper-scrollbar-drag-bg-color:#3D3D3D;
    --swiper-scrollbar-bg-color:#CECECE;
}
.lora {
    font-family: "Lora", serif;
}

body {
    @apply text-deep-forest;
}

.button-next,.button-prev{
    @apply cursor-pointer;
}
.button-next svg,.button-prev svg{
    @apply fill-sage;
}
.button-next.swiper-button-disabled svg,.button-prev.swiper-button-disabled svg{
    @apply opacity-50;
}

.button-next.swiper-button-disabled,.button-prev.swiper-button-disabled{
    @apply cursor-auto;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply bg-terra-cota;
}

.swiper-pagination-bullet{
    @apply !w-8 h-1 !rounded-sm bg-oat;
}
[x-cloak] {
    display: none;
}

.single_add_to_cart_button {
    @apply  !rounded-full !uppercase !font-medium !border !bg-terra-cota !text-white;    
}

.buy-now-button{
    @apply !bg-terra-cota !rounded-full !uppercase !font-medium !border !border-terra-cota !text-white;    

}

form.variations_form table.variations select{
    @apply !bg-white !max-w-xs !text-deep-forest;
}

/* .input-text.qty{
    @apply !border-none !flex !items-center !justify-center;
}
.quantity .ct-decrease,.quantity .ct-increase{
    @apply !bg-white !border !border-[#D9E2DA] !rounded-full !text-deep-forest !size-8 !flex !items-center !justify-center;
} */
body.product-template-default{
    @apply !bg-[#F4F5F4];
}

.button.add_to_cart_button{
    @apply !uppercase !text-sm cursor-pointer !bg-white !text-sage text-center !rounded-full !px-6 !py-2 !shadow !w-full max-w-2/3;
}
/* .added_to_cart.wc-forward{
    @apply hidden;
} */

.ct-checkbox{
    @apply !border-[#3B4443] !rounded-sm;
}

.single-product .woocommerce-Price-amount.amount{
    @apply !text-terra-cota !font-semibold;
}

.single-product .sale-price del .woocommerce-Price-amount.amount{
    @apply !text-sage;
}

.added_to_cart.wc-forward{
    @apply !hidden;
}

.ct-header-cart svg{
    @apply !fill-none hover:!fill-none;
}

.ct-cart-actions .quantity .input-text.qty{
    @apply !border-none !outline-none;
}

.ct-cart-actions .quantity[data-type=type-2] .ct-increase,.ct-cart-actions .quantity[data-type=type-2] .ct-decrease{
    @apply !bg-white !border !border-[#D9E2DA] !rounded-full !text-deep-forest !size-8;
}

.ct-cart-actions div.quantity .ct-increase~input[type=number]:focus,.ct-cart-actions div.quantity .ct-decrease~input[type=number]:focus{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

/* .product-template-default .is-width-constrained {
    width: 100% !important;
} */

/* @media screen and (max-width: 1000px) {
    .ct-container-full{
        background: linear-gradient(to bottom, #ffffff 50%, #F4F5F4 50%);
    
    }
    
    .ct-default-gallery .product-entry-wrapper, .ct-stacked-gallery .product-entry-wrapper {
        gap: 60px !important;
    }
    
} */
/* 
@media screen and (min-width: 1000px) {
    .ct-container-full{
        background: linear-gradient(to right, #ffffff 50%, #F4F5F4 50%);
    
    }
    
    .ct-default-gallery .product-entry-wrapper, .ct-stacked-gallery .product-entry-wrapper {
        gap: 60px !important;
    }
    
} */

.product-template-default .is-width-constrained{
    width: 100% !important;
}
.woocommerce-product-gallery{
    @apply !bg-white p-4 md:p-10 lg:p-12 xl:p-16;
}

.ct-default-gallery .entry-summary, .ct-stacked-gallery .entry-summary{
    @apply !ml-0 p-6 md:p-10 lg:p-12 xl:p-16;
}

.yith-wcwl-add-to-wishlist-button.yith-wcwl-add-to-wishlist-button--single.yith-wcwl-add-to-wishlist-button--anchor{
    @apply !text-sage !bg-white shadow p-2 h-10 w-10 rounded-sm;
}
.yith-wcwl-add-to-wishlist-button__label{
    @apply hidden;
}
@media (max-width: 999.98px) {
    div.woocommerce-product-gallery {
        margin-bottom: 1em !important;
    }
}

@media (max-width:480px) {
    .ct-cart-actions .quantity[data-type=type-2] .ct-increase, .ct-cart-actions .quantity[data-type=type-2] .ct-decrease {
        top: 5px !important;
    }

}

button.checkout{
    @apply  !bg-terra-cota;
}